/* --- Footer --- */

.footer {
    padding: 2rem;
    color: #fff;
}

.footer .flex-center {
    justify-content: space-between;
}

.footer .footer__autor {
    text-decoration: underline;
    font-weight: 300;
}