/* --- Seccion Inversores - Equipo --- */

.seccion--inversores {
    background-color: #fff;
}

.seccion--inversores .seccion__titulo {
    color: #121212;
}

.grid-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-template-areas: 
        ". item1 ."
        "item2 item3 item4"
    ;
}

.grid-hijo {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    gap: 10px;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.inversor__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
}